{:deps {
    org.eclipse.jetty/jetty-server {:mvn/version "11.0.15"}
    org.eclipse.jetty/jetty-servlet {:mvn/version "11.0.15"}}
 
 :paths ["src"]
 
 :aliases {
    :dev {
      :exec-fn app/main}}}